.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    width: 100%;
    position: relative;

    .carouselImage {
        object-fit: contain;
        object-position: 0;


    }
}