.container {
    display: flex;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    z-index: 99;

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            gap: 12px;

            li {
                list-style: none;
                cursor: pointer;
                position: relative;
                padding: 5px;

                .line {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    transition: all .4s ease;
                }

                &:hover {
                    .line {
                        width: 100%;
                        left: 0;
                    }

                }
            }
        }
    }

    .iconsContainer {
        display: flex;
        gap: 20px;

        svg {
            transition: .4s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}