.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 99;

    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 2rem;



        .accountContainer {
            display: flex;
        }
    }
}